@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap");

:root {
  --primary-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  --color-white: #fafafa;
  --color-black: #121212;
  --color-grey: #333;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Libre Franklin", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(2, 38, 138, 0.5), rgba(175, 127, 154, 0.5)),
    url(/img/background-img/Site-Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.navbar {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.navbar-logo-icon {
  height: 85px;
  width: 85px;
}

.navbar-logo-text {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2rem;
}

.navbar-links {
  display: flex;
  align-items: center;
  list-style: none;
  height: 1rem;
  padding: 0;
  z-index: 1;
  transition: all 0.5s;
}

.navbar-list-item {
  margin-left: 2rem;
  list-style-type: none;
}

.navbar-list-item a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.navbar-list-item a p {
  font-size: 1.3rem;
}

.navbar-list-item a:hover {
  box-shadow: 0 -4px 0px var(--color-white) inset;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 40px;
  height: 4px;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-white);
}

.home,
.about,
.education,
.projects,
.contact {
  text-align: center;
}

.main {
  margin: auto;
  min-height: 90vh;
  max-width: 90%;
}

h1,
h2,
h3 {
  font-weight: 400;
  color: var(--color-white);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.error-heading {
  text-align: center;
}

p {
  color: var(--color-white);
  font-size: 1rem;
}

.content {
  width: 90vw;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

/* HOME */

.home {
  display: flex;
  margin-bottom: 3rem;
}

.home-image {
  width: 65%;

  & img {
    width: 95%;
    border-radius: 50px;
    box-shadow: var(--primary-box-shadow);
  }
}

.home-page {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  & h1 {
    margin: 1rem 0;
  }

  & p {
    margin: 0;
  }
}

/* ABOUT */

.about {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about p {
  margin: 0 1rem 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  max-width: 900px;
  text-align: left;
  line-height: 1.5;
}

.about-img {
  height: 225px;
  width: 250px;
  transition: 0.7s ease-in-out;
}

.about-img img {
  height: 100%;
}

.core-competencies {
  text-align: center;
}

.competencies-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.core-competencies-title {
  font-size: 2rem;
  margin: 1rem 0 0.5rem;
}

.core-competencies-list {
  margin: 0 1rem 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
  text-align: left;
  line-height: 1.4;
}

.core-competencies-item {
  color: var(--color-white);
  font-size: 1.2rem;
  padding: 0.3rem;
}

.developer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 0;
  margin: 0 auto 2rem;
}

.developer-icon {
  list-style: none;
}

.developer-icon img {
  text-decoration: none;
  height: 100px;
  padding: 1rem;
}

.resume {
  margin-bottom: 3rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  outline: none;
}

.resume-button {
  background-color: var(--color-grey);
  color: var(--color-white);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: all 0.5s ease;
  padding: 15px;
  position: relative;
  outline: none;
  z-index: 0;
}

.resume-button::after {
  content: "";
  background-color: var(--color-grey);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  outline: none;
  z-index: -1;
}

.resume-button::before {
  content: "";
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  border-radius: 15px;
  opacity: 1;
  animation: glow 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  outline: none;
  z-index: -1;
}

.resume-button:hover {
  transform: scale(1.02);
}

.resume-button:active {
  color: var(--color-grey);
  font-weight: bold;
}

.resume-button:active::after {
  background-color: transparent;
}

.resume-button:focus,
.resume-button:active {
  outline: none;
}

/* EDUCATION */

.education-title {
  margin-bottom: 0;
}

.education-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 3rem;
  max-width: 1500px;
}

.education-card {
  background-color: rgb(0, 0, 0, 0.1);
  margin: 3rem 2rem;
  text-align: center;
  height: auto;
  width: 700px;
  border-radius: 15px;
  box-shadow: var(--primary-box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1px solid #363535;
}

.education-name,
.education-school,
.education-description {
  color: var(--color-white);
}

.education-card-1,
.education-card-2,
.education-card-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.education-name {
  width: 100%;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.education-degree {
  margin: 0.25rem;
}

.education-school {
  margin: 0.25rem;
}

.education-description {
  margin-top: auto;
  line-height: inherit;
}

.education-img {
  height: 150px;
  width: 150px;
}

.education-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: var(--primary-box-shadow);
}

/* PROJECTS */

.project-container {
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;
  width: 90vw;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 25px;
  color: var(--color-white);
  cursor: pointer;
  flex: 0.5;
  margin: 4px;
  position: relative;
  transition: flex 0.7s ease-in;
  box-shadow: var(--primary-box-shadow);
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* FOOTER */

.footer {
  background-color: var(--color-grey);
  padding: 15px;
  color: var(--color-white);
  text-align: center;
  width: 100vw;
  overflow: hidden;
  bottom: 0;
}

.footer-content {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
}

.footer-links {
  margin-left: 30px;
  text-align: center;
  display: flex;
}

.footer-links a {
  color: #61dafb;
  margin: 0 15px;
  text-decoration: none;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.footer-links a:hover {
  /* text-decoration: underline; */
  box-shadow: 0 -4px 0px var(--color-white) inset;
}

/* MISC */

.scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  font-size: 1.2rem;
  right: 25px;
  bottom: 55px;
  height: 50px;
  width: 50px;
  background-color: var(--color-grey);
  color: var(--color-white);
  outline: none;
  border: none;
  border-radius: 50%;
  transition: all 1s;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .navbar {
    margin-top: 1rem;
  }

  .hamburger {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--color-white);
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    display: block;
    z-index: 100;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  .navbar-links {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    background: linear-gradient(
      to bottom,
      rgba(175, 127, 154, 0.897),
      rgba(2, 38, 138, 0.795)
    );
    width: 250px;
    height: 100%;
    padding: 5rem 0;
    margin: 0;
    list-style: none;
    z-index: 10;
    transition: 0.3s;
  }

  .navbar-links.active {
    right: 0;
  }

  .navbar-list-item {
    list-style-type: none;
  }

  .navbar-list-item a {
    transition: all 0.3s;
  }

  .navbar-list-item a,
  .navbar-list-item a:hover,
  .navbar-list-item a p,
  .navbar-list-item a p:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: var(--color-white);
    padding: 0rem;
    font-size: 1.5rem;
  }

  .navbar-list-item:hover {
    box-shadow: 0 -4px 0px var(--color-white) inset;
  }

  .navbar-list-item a:focus {
    outline: none;
  }

  .home {
    flex-direction: column;
  }

  .home-image {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .home-page {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    & h1 {
      font-size: 2rem;
    }
  }

  .developer-icon img {
    text-decoration: none;
    height: 70px;
    padding: 1rem;
  }
}

@media screen and (max-width: 1020px) {
  .education-img,
  .education-img img {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .education-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .education-card {
    max-width: 550px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .competencies-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .developer-icon img {
    text-decoration: none;
    height: 60px;
    padding: 1rem;
  }

  .project-container {
    max-width: 85vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }

  .footer-content p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .navbar-logo {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-logo-text {
    display: none;
  }

  .home-image {
    margin-top: 2rem;
    width: 100%;
  }

  .about-description p {
    text-align: center;
  }

  .education-card {
    max-width: 350px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .project-container {
    display: block;
  }

  .footer-content p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px) {
}

/* KEYFRAMES */

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
